{% extends "base.html" %}

{% block content %}
{% block styles %}
<style>
    .center-column-box {

        background-image: url("../images/defaults/wallpaper_landing_page.jpg");
        /* Additional CSS properties for background image */
    }

    td {
        max-width: 25px;
        /* Adjust the max width as needed */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
{% endblock %}
<div class="login-table">
    <h1>Sign In</h1>
    <h5>Nuovo utente? <a href="{{ url_for('register') }}">Clicca qui per registrarti!</a></h5>
    <form action="" method="post" novalidate class="form-container">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label>{{ form.username.label }}</label>
            {{ form.username(size=32) }}
            <div class="error">
                {% for error in form.username.errors %}
                {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <label>{{ form.password.label }}</label>
            {{ form.password(size=32) }}
            <div class="error">
                {% for error in form.password.errors %}
                {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class="form-check">
            {{ form.remember_me(class="form-check-input") }}
            <label class="form-check-label" style="margin-right: 8px;">{{ form.remember_me.label }}</label>
        </div>
        <div class="submit-button">
            {{ form.submit() }}
        </div>
        <div class="forgot-password">
            <a href="#" onclick="sendUsername()">Password dimenticata?</a>
        </div>
    </form>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="table-box flash-messages" style="margin-top:20px; width:40%;">


    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>

{% endif %}
{% endwith %}
<script>
    function sendUsername() {
        var username = document.getElementsByName('username')[0].value;
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', "{{ url_for('forgot_password') }}");
        var input = document.createElement('input');
        input.setAttribute('type', 'hidden');
        input.setAttribute('name', 'username');
        input.setAttribute('value', username);
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }
</script>
{% endblock %}