{% extends "base.html" %}

{% block content %}
<style>
    .center-column-box {
        background-image: url("../images/defaults/wallpaper_landing_page.jpg");
        /* Additional CSS properties for background image */
    }
    td {
        max-width: 25px;
        /* Adjust the max width as needed */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<div class="login-table" style="left:35%;width:30%;">
    <h1 style="color:red">Reset password</h1>
    <form action="" method="post" class="form-container">
        {{ form.hidden_tag() }}
      <!--
        <table class="table table-striped">
            <tr>
                <td>
                    {{ form.password.label }}
                </td>
                <td style="max-width: 50px;">
                    {{ form.password(size=32) }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.password2.label }}</td>
                <td>{{ form.password2(size=32) }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>


            <tr>
                <td colspan="2">{{ form.submit() }} </td>
            </tr>
        </table>
        -->
        <div class="form-group">
            <label>{{ form.password.label }} </label>
            {{ form.password(size=32) }}
            <div class="error">
                {% for error in form.password.errors %}
                {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <label>{{ form.password2.label }}</label>
            {{ form.password2(size=32) }}
            <div class="error">
                {% for error in form.password2.errors %}
                {{ error }}
                {% endfor %}
            </div>
        </div>
    
        <div class="submit-button">
            {{ form.submit() }}
        </div>
    </form>

</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}