{% extends "base.html" %}

{% block content %}





<div class="main">
    <h1 style="color:red; text-align: center;">Welcome back {{current_user.username}}!</h1>
    <div class="box">First trip</div>
    <div class="box">Second trip</div>
    <div class="box">Third trip</div>
</div>
<div class="left-sidebar">

    <img src="{{ url_for('static', filename='images/app_icon.jpg') }}" class="popup-btn" alt="Popup Image">

    <div class="popup" id="popup">
        <ul>
            <li><a href="{{url_for('user_profile')}}">User Profile<a></li>
            <li class="subitem">Teams
                <ul class="sublist">
                    {%for team in teams%}

                    <li> <a href="{{url_for('team_details',team_id=team.id)}}">{{team.name}}</a></li>
                    {%endfor%}
                </ul>
            </li>
            <li><a href="#"> Trips overview</a></li>
        </ul>
    </div>
    <script>
        var popup = document.querySelector(".popup");
        var popupBtn = document.querySelector(".popup-btn");
        popupBtn.addEventListener("click", function () {
            if (popup.style.display === "block") {
                popup.style.display = "none";
            } else {
                popup.style.display = "block";
            }
        });
    </script>

</div>

<div class="right-sidebar">
</div>


{% endblock %}