{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_user_profile.css') }}">
</head>

<center>
    <div style="text-align:center">
        <h1 style="color:red">User details for {{user.username}}</h1>
    </div>
    <div style="text-align:center">
        <div class="post-container" style="margin:0 auto;">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Username</td>
                        <td>{{ user.username}}</td>
                    </tr>
                    <tr>
                        <td>First name</td>
                        <td>{{ user.name}}</td>
                    </tr>
                    <tr>
                        <td>Last name</td>
                        <td>{{ user.surname}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Strava account</td>
                        <td>{{ user.strava_account }}</td>
                    </tr>
                    <tr>
                        <td>Phone number</td>
                        <td>{{ user.phone_number }}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>


</center>

<center>

    {%if current_user._is_admin%}
    <div style="text-align:center">
        <h1 style="color:red">List of available teams</h1>
    </div>
    <div class="post-container">
        <div class="post-container">
            <div class="post-info">
                {%for team in teams%}
                <div class="row">
                    <ul>&#128205;
                        <a href="{{url_for('team_details',team_id=team.id)}}">{{team.name}}</a>
                    </ul>

                    {% if user not in team.users %}
                    <div class="enroll-button-container">
                        <a class="enroll-button"
                            href="{{url_for('enroll_directly',team_id=team.id,user_id=user.id)}}">Enroll</a>
                    </div>
                    {% else %}
                    <div class="unenroll-button-container">
                        <a class="unenroll-button"
                            href="{{url_for('unenroll_from_team',team_id=team.id,user_id=user.id)}}">Unenroll</a>
                    </div>
                    {% endif %}
                </div>
                {%endfor%}
            </div>
        </div>
    </div>

    {%endif%}

</center>
{% endblock %}